wsdl.wsdl

<!--This XML file does not appear to have any style information associated with it. The document tree is shown below.-->

<!-- Это получившаяся wsdl'ина на основании Configa и xsd после того как запустилось приложение -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ru.rr27.soapserviceexample/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ru.rr27.soapserviceexample/soap" targetNamespace="http://ru.rr27.soapserviceexample/soap">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ru.rr27.soapserviceexample/soap">
            <xs:element name="getCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="population" type="xs:int"/>
                    <xs:element name="capital" type="xs:string"/>
                    <xs:element name="currency" type="tns:currency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getCurrencyRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrencyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currency" type="tns:currency"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:simpleType name="currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="GBP"/>
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="PLN"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCountryResponse">
        <wsdl:part element="tns:getCountryResponse" name="getCountryResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCurrencyResponse">
        <wsdl:part element="tns:getCurrencyResponse" name="getCurrencyResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCurrencyRequest">
        <wsdl:part element="tns:getCurrencyRequest" name="getCurrencyRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequest">
        <wsdl:part element="tns:getCountryRequest" name="getCountryRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="getCountry">
            <wsdl:input message="tns:getCountryRequest" name="getCountryRequest"> </wsdl:input>
            <wsdl:output message="tns:getCountryResponse" name="getCountryResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrency">
            <wsdl:input message="tns:getCurrencyRequest" name="getCurrencyRequest"> </wsdl:input>
            <wsdl:output message="tns:getCurrencyResponse" name="getCurrencyResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrency">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCurrencyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCurrencyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:8787/soap/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>